{% extends 'home/components/base.html' %}
{% load static %}

{% block site_title %}ตั้งค่าอุปกรณ์{% endblock %}

{% block content %}
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title">กรุณากรอกข้อมูล WIFI</h4>
        <p>กรอกข้อมูล WIFI ที่ต้องการให้อุปกรณ์เชื่อมต่อ ก่อนเข้าใช้งานหน้า dashboard</p>
        <form method="post" action="{% url 'wifi' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button button-primary" type="submit">บันทึกข้อมูล</button>
    </div>
</form>

{% endblock %}