{% extends 'home/components/base.html' %}
{% load static %}

{% block site_title %}เข้าสู่ระบบ{% endblock %}

{% block content %}
  <section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
      <img src="{% static 'home/logo.png' %}" alt="" width="54" height="54"><br><br>
      <h4 class="content-title">กรุณาเข้าสู่ระบบ</h4>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.next %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div class="form-field">
          <button class="button button-primary" type="submit">เข้าสู่ระบบ</button>
        </div>
        <p>
          ยังไม่มีบัญชีใช่ไหม? <a href="{% url 'signup' %}">สมัครสมาชิก</a>
        </p>
      </form>
    </div>
  </section>

{% endblock %}